<!-- <div class="bg-white dark:bg-black w-full h-auto" style="padding: 20px 20px 20px 20px;">
  <characters-list ngSkipHydration [characterList]="tastingImgs()" />
</div> -->
<div style="padding: 110px 20px 20px 20px;" class="h-screen overflow-y-scroll bg-white dark:bg-black w-full"
  (scroll)="onScroll($event)"
  #groupDiv >
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @for (tasting of tastingImgsOrder(); track $index) {
      <div class="grid gap-4">
        @for (item of tasting; track $index) {
          @if ( !isLoading() ) {
            <div>
                <img class="h-full w-full rounded-lg" [src]="item.url" alt="">
            </div>
          }@else {
            <shared-skeleton-loader [widthImg]="item.width" [heightImg]="item.height" [unitImg]="item.unit"></shared-skeleton-loader>
          }
        }
      </div>
    }
  </div>
</div>


