<div class="bg-white dark:bg-gray-800 w-full h-screen" style="padding: 20px 20px 20px 20px;">
  <div id="default-carousel" class="relative w-full h-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-full overflow-hidden rounded-lg transition-all duration-300">
        @if (!isLoading()) {
            <div role="status" class="flex items-center justify-center h-screen w-full max-w-xxl bg-gray-300 rounded-lg animate-pulse dark:bg-gray-700">

              <span class="sr-only">Loading...</span>
            </div>
        }
        @for (item of welcomeCharacter(); track $index) {
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img style="background-color: #e0e3e4;" [src]="item.url" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 dark:drop-shadow-[0px_0px_0_white]" alt="...">
            </div>
        }

      </div>
      <div class="absolute z-40" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        @defer (on timer(500ms)) {
          <app-card></app-card>
        }
      </div>
    </div>
  </div>
