  <div style="border-radius: 20px;" class="block max-w-sm p-6 border border-default  bg-white dark:bg-gray-800 text-center">
      <h1 class="mb-2 text-sm max-sm:text-xs font-semibold font-[calluna] tracking-[0.2rem] text-[#f7aa73]">ILLUSTRATOR & CHARACTER DESIGNER</h1>
      <p class="mb-5 text-5xl max-md:text-2xl font-semibold font-[futura-pt] tracking-widest text-[#999] dark:text-white">ARCEO JUAREZ</p>
      <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
          <a [routerLink]="['/tasting-menu']" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
              <div class="text-left rtl:text-right">
                  <div class="mt-auto font-[europa] max-sm:text-xs text-sm font-light tracking-[0.2rem]">PORTFOLIO</div>
              </div>
          </a>
          <a [routerLink]="['/about']" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
              <div class="text-left rtl:text-right">
                  <div class="mt-auto font-[europa] max-sm:text-xs text-sm font-light tracking-[0.2rem]">ABOUT</div>
              </div>
          </a>
      </div>
  </div>
