<div style="padding: 110px 20px 20px 20px;" class="h-screen overflow-y-scroll bg-white dark:bg-gray-800 w-full">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 gap-4">
    @for (works of workList(); track $index) {
      <div>
        @defer (on viewport; prefetch on idle) {
          <img [routerLink]="['/',works.slug]" style="background-color: #e0e3e4;" class="shadow-xl h-auto max-w-full rounded-lg cursor-pointer" [src]="works.character.urlThumb" alt="">
        }@placeholder{
          <shared-skeleton-loader [heightImg]="'64'"></shared-skeleton-loader>
        }
    </div>
    }
  </div>
</div>
